body{  background-color: transparent;
font-family: 'Courier New', Courier, monospace;
background-color: grey;
background-image: url("./img/background.jpg");
    background-size: 100vw 100vh;
    width:100vw;
    height: 100vh;
    position:absolute;
    top: 0px;
    left: 0px;
padding: 0;
margin:0;}



#content{position:fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.16);
    width:100vw;
    height: 100vh;
}

#topic{font-size:1.7em;
    color:rgb(230, 230, 230);
padding-bottom: 25px;}

.topic:hover{cursor: pointer;}

.buttonsdiv{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: 70%;
    padding-bottom: 20px;
    margin-bottom: 15px;
}
.buttons{border:1px solid black;
    border-radius: 5px;
text-decoration: none;
padding:5px 10px;
font-weight: bold;
font-size: 1.2em;
transition: 200ms ease-in-out;
}

.buttons:hover{transform:scale(1.2,1.2);}

#but1:hover,#but4:hover, #but7:hover{color: black;
    background-color:#FF5050;
}
#but2:hover,#but5:hover, #but8:hover{color: black;
    background-color:#79E21B;
}
#but3:hover,#but6:hover, #but9:hover{color: black;
    background-color:#4a63d4;
}



#but1, #but4, #but7 {color: #FF5050;
    background-color:black;}
#but2, #but5, #but8 {color: #79E21B;
    background-color:black;}
#but3, #but6, #but9 {color: #4a63d4;
    background-color:black;}


/* Page 1 */



#page1content, #page2content, #page3content{
    position: absolute;
   background-image: none;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:100%;}


#page1topic, #page2topic, #page3topic{font-size:1.1em;
        color:black;
    text-decoration: underline  3px;
align-self: flex-start;}

    img{width: 10rem;
    height: 15rem;
transition:0.4s ease-in-out;
margin: 5px;
border-radius: 5px;}
    img:hover{transform: scale(1.1);}

        .imagesdiv{width:80%;
        padding:15px;
    display:flex;
    flex-direction: row;
justify-content: center;
flex-wrap: wrap;}

        #page1content{
                background-color: #ff5050bc; }

/* Page 2 */
#page2content{background-color: #59a814bc;}


/* Page 3 */
#page3content{background-color: #4a63d4bc;}

@media screen and (max-width: 480px) {
    #topic, #page1topic, #page2topic, #page3topic{font-size:0.7rem;
    padding-bottom: 2px;
}

    img{width: 5rem;
        height: 7rem;}

    .buttons{
    font-size: 1rem;
    }
    .buttonsdiv{
        width: 85%;
        padding-bottom: 10px;
        margin-bottom: 15px;
        gap:0.1cm;
    }
    
}
